/* --advice-dice-color: hsl(150, 100%, 66%); */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background-color: var(--dark-blue);
    color: var(--light-cyan);
    font-family: 'Itim', sans-serif;
    width: 100vw;
    height: 100vh;
}

.main {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
}

.main .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 270px;
    width: 420px;
    padding: 35px 30px 0 30px;
    background-color: var(--dark-grayish-blue);
    border-radius: 5%;
    position: relative;  
}

.main .card .title {
    font-size: 13px;
    letter-spacing: 4px;
    margin-bottom: var(--margin-bottom);
    color: var(--neon-green);
}

.main .card .conselhos {
    font-size: 26px;
    margin-bottom: 25px;
}

.main .card .separacao {
    width: 100%;
}


.main .card .img-dado {
    display: grid;
    place-content: center;
    position: absolute;
    bottom: -23px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:  var( --neon-green);
    cursor: pointer;
}

.main .card .img-dado:hover {
    box-shadow: 0 0 35px var(--neon-green);
}

.main .card .dado {
    width: 25px;
    height: 25px;
}